<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702138810688-jbf1bsq87gpsefhunundhaiitospenfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702138810688-jbf1bsq87gpsefhunundhaiitospenfj</string>
	<key>API_KEY</key>
	<string>AIzaSyBFaBqdm1CPdO3Bd0wMLmd64rg0fDWdB04</string>
	<key>GCM_SENDER_ID</key>
	<string>702138810688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.weatherapp.ios</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-2ed75</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-2ed75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702138810688:ios:1c8ab04916f2ff4dc83aa5</string>
</dict>
</plist>